<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="css/main.css" th:href="@{/templates/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="container text-center jumbo-container">
            <h1 class="display-3">BurgerBar</h1>
            <p>Witaj w Burgerowni! Zamawiaj, zapłać, odbierz specjalny kod i czekaj na swoje zamówienie!</p>
        </div>
    </div>
    <a th:href="@{/order}" class="btn btn-success">Zamówienie</a>
    <div th:each="burger: ${@clientOrder.getOrder().getBurgers()}">
        <p th:text="${burger.name}"></p>
    </div>
    <div th:remove="all-but-first">
        <div class="media col-6 offset-3" th:each="burger:${burgers}">
            <i class="material-icons">fastfood</i>
            <div class="media-body">
                <a href="#" th:href="@{|/danie/${#strings.replace(burger.name, ' ', '-')}|}">
                    <h5 th:text="|${burger.name}(${burger.price}zł)|">test test (25zł)</h5>
                </a>
                <p th:text="${burger.shortDescription}">test.</p>
                <a href="#" th:href="@{/order/add(burgerId=${burger.id})}" class="btn btn-success">
                    Dodaj do zamówienia</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>